//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

//*-----------------------------------------------
//|   Fonts Families
//-----------------------------------------------*/

$native-font-stack-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$native-font-stack-serif: Times, 'Times New Roman', Georgia, serif !default;

$font-family-sans-serif: 'Lato', $native-font-stack-sans-serif;
$font-family-serif: 'Arvo', $native-font-stack-serif;
$font-family-base: $font-family-sans-serif !default;

//*-----------------------------------------------
//|   Fonts
//-----------------------------------------------*/

$headings-font-family: $font-family-serif !default;
