//
//
// user.scss
//
// Place your own sparrow CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

// layout
body {
  overflow-x: hidden;
}

// nav
.logo-nav {
  width: 2rem;
  height: 1.25rem;
  border-radius: 0.25rem 0 0 0.25rem;
  line-height: 1.25rem;
  text-indent: 0.125rem;
  text-align: center;
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 2rem;
  font-family: $font-family-sans-serif;
  font-weight: 900;
  overflow: hidden;
}
.fancynavbar-collapse {
  width: 0;
  padding: 0;
  transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.5s;

  &.open {
    width: calc(50vw - 2.1875rem);
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    transform: matrix(1, 0, 0, 1, 0, 0);

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
